<!DOCTYPE html>
<html>
    <link rel="icon" href="./images/weather.png">
    <link rel="stylesheet"  href='./css/styles.css'/>
    <title>About</title>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Ritika Mathur. It uses data from mapbox.com and openweathermap.org!</p>
        </div>
        {{!-- <h1>{{title}}</h1> --}}
        {{!-- <p>Created by para {{name}}</p> --}}
        {{>footer}}
    </body>
</html>